In [46]:
import pandas as pd
import sqlite3

###   データの読み込み

In [47]:
class Database:
    def __init__(self, amenities_db_path, review_db_path):
        self.amenities_conn = sqlite3.connect(amenities_db_path)
        self.review_conn = sqlite3.connect(review_db_path)
    
    def get_all_amenities(self):
        query = """
        SELECT *
        FROM amenities
        """
        return pd.read_sql_query(query, self.amenities_conn)
    
    def get_all_reviews(self):
        query = """
        SELECT rating, gender, hotel_name
        FROM review
        """
        return pd.read_sql_query(query, self.review_conn)

# 使用例
db = Database('/Users/gomadango/Lecture/dsprog/dsprog2/travel/amenities.sqlite', '/Users/gomadango/Lecture/dsprog/dsprog2/travel/review.sqlite')

# すべてのホテルのデータの読み込み
all_amenities_data = db.get_all_amenities()
all_reviews_data = db.get_all_reviews()

print("All Amenities Data:")
print(all_amenities_data)

print("All Reviews Data:")
print(all_reviews_data)

All Amenities Data:
   id hotel_name  hand_towel  bodysoap  hairdryer  washlet  toothbrush  soap  \
0   1        旅館A           1         1          1        1           0     0
1   2       ホテルB           1         1          1        1           1     0
2   3       ホテルC           1         1          1        1           1     1

   down_duvet  comb_brush  bath_towel  yukata  razor  shampoo  pajamas  \
0           1           0           1       0      0        1        1
1           1           0           1       1      0        1        0
2           0           1           1       1      1        1        0

   shower_cap  rinse  bathrobe  cotton_swab
0           0      1         0            0
1           0      1         0            0
2           0      1         0            1
All Reviews Data:
    rating gender hotel_name
0        5     男性        旅館A
1        4     男性        旅館A
2        5     男性        旅館A
3        5     女性        旅館A
4        5     女性        旅館A
..     ...    ...        ...
362      2     女性       ホテルC
363      3     男性       ホテルC
364      3     男性       ホテルC
365      1     女性       ホテルC
366      3     女性       ホテルC

[367 rows x 3 columns]

In [48]:
# テータ型の確認
print("Amenities Data Type:")
print(all_amenities_data.dtypes)
print("Reviews Data Type:")
print(all_reviews_data.dtypes)

Amenities Data Type:
id              int64
hotel_name     object
hand_towel      int64
bodysoap        int64
hairdryer       int64
washlet         int64
toothbrush      int64
soap            int64
down_duvet      int64
comb_brush      int64
bath_towel      int64
yukata          int64
razor           int64
shampoo         int64
pajamas         int64
shower_cap      int64
rinse           int64
bathrobe        int64
cotton_swab     int64
dtype: object
Reviews Data Type:
rating        object
gender        object
hotel_name    object
dtype: object

In [49]:
# reviewのratingのデータ型をintに変換
all_reviews_data['rating'] = all_reviews_data['rating'].astype(int)

In [50]:
# テータ型の再確認
print("Reviews Data Type:")
print(all_reviews_data.dtypes)

Reviews Data Type:
rating         int64
gender        object
hotel_name    object
dtype: object

### 分析

In [53]:
import sqlite3
import pandas as pd

class Database:
    def __init__(self, amenities_db_path, review_db_path):
        self.amenities_conn = sqlite3.connect(amenities_db_path)
        self.review_conn = sqlite3.connect(review_db_path)
    
    def get_reviews(self, hotel_name):
        query = """
        SELECT rating, gender
        FROM review
        WHERE hotel_name = ?
        """
        return pd.read_sql_query(query, self.review_conn, params=(hotel_name,))

def calculate_average_ratings(db, hotel_name):
    reviews = db.get_reviews(hotel_name)
    
    if reviews.empty:
        print(f"No reviews found for hotel '{hotel_name}'.")
        return
    
    # rating列を数値型に変換
    reviews['rating'] = pd.to_numeric(reviews['rating'], errors='coerce')
    
    # 男女別に評価スコアの平均値を算出
    average_ratings = reviews.groupby('gender')['rating'].mean().reset_index()
    
    print(f"Average Ratings for hotel '{hotel_name}':")
    print(average_ratings)

# 使用例
db = Database('/Users/gomadango/Lecture/dsprog/dsprog2/travel/amenities.sqlite', '/Users/gomadango/Lecture/dsprog/dsprog2/travel/review.sqlite')
calculate_average_ratings(db, hotel_name='ホテルC')

Average Ratings for hotel 'ホテルC':
  gender    rating
0     女性  2.181818
1     男性  2.610169